html, body {
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

html,body{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.joinCheck{
	margin-left:2vw;
}

.main{
	margin-top:11vh;
}
@media (max-width: 1000px) {
	.google {
		top:5vh;
	}
}
@media (min-width: 1001px) {
	.google {
		top:11vh;
	}
}
.google {
	position: absolute;
	/*top:5vh;*/
	right: 0;
}

.header{
	text-align: center;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	background-color: #2196F3;
	padding: 10px;
}
.grid-item {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 30px;
	text-align: center;

	/*Make unhighlightable*/
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
     */
     -ms-user-select: none;
     user-select: none;
 }
}
.setup{
	text-align: -moz-center; text-align: -webkit-center;
}
.letter{
	width: 20px;
}
.leftMenu{
	display: absolute;
	position: absolute;
	left:0;
	top:10vh;
}
.centerContent{
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon{
	border:3px solid #000000; 
	padding:2px;
	margin: 2px;
}
.timer{
	border:3px solid #000000; 
	padding:2px;
	margin: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrap {
	width: 300px;
}

.wrap table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

#wordList td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

#wordList tr:nth-child(even) {
	background-color: #dddddd;
}

#wordList table tr td {
	padding: 5px;
	border: 1px solid #eee;
	width: 100px;
	word-wrap: break-word;
}

table.head tr td {
	background: #eee;
}

table.joinedPlayersTable tr td {
	background: #eee;
}

.inner_table {
	height: auto;
	overflow-y: auto;
}
.timerFont{
	font-size: 2em;
}

.btn {
	background-color: DodgerBlue;
	border: none;
	color: white;
	width: 100%;
	/*	padding: 12px 16px;*/
	font-size: 5vw;
	cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
	background-color: RoyalBlue;
}
.btn-container {
	text-decoration: none;
	display: inline-block;
}
.title-background {
	width: 100%;
	display: block;
	overflow: auto;
	background-color: lightgray;
}

.title-container {
	top:0;
	position: absolute;
	width:100%;
	background: lightgray;	
}

.title {
	font-family: georgia, garamond, serif;
	text-align: center;
	vertical-align: top;
	font-size:	5vw;
	margin: auto;
}

.font{
	font-size: xx-large;
}

/** Start High Scores**/

.avatar {
	width: auto;
	height: 3vw;
	border-radius: 50%;
	margin-right: 1em;
}

.highscores-table {
	margin-top: 40px;
	border-spacing: 1em .5em;
	padding: 0 2em 1em 0;
	border: 3px solid black;
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	display: inline-block;
}

.dropdown-content {
	margin-top: 7vw;
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.onlineGames {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.onlineGames td, .onlineGames th {
	border: 1px solid #ddd;
	padding: 8px;
}

.onlineGames tr:nth-child(even){background-color: #f2f2f2;}

.onlineGames tr:hover {background-color: #ddd;}

.onlineGames th {
	font-size:xx-large;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}